@model IEnumerable<WanderList.Models.User>

@{
    ViewData["Title"] = "Dashboard";
    User usr = ViewData["UserObj"] as User;
    Location loc = ViewData["Location"] as Location;
    //int count = ViewData["Count"] as int;
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h2>Discover Locations</h2>

<div class="row">
	<div class="col-md-4">
		<p>
			@loc.Name
			<br />
			@loc.Address
			<br />
			@loc.Rating
			<br />
			@loc.Description
            <br />
            @loc.ImageLink
		</p>

        <img src=@loc.ImageLink />

		<form asp-action="Dashboard">
			<div class="form-group">
				<input type="submit" value="Next" class="btn btn-default" />
			</div>
		</form>
	</div>
</div>
