@model IEnumerable<WanderList.Models.User>

@{
	ViewData["Title"] = "Dashboard";
	User usr = ViewData["UserObj"] as User;
	Location loc1 = ViewData["Location1"] as Location;
	Location loc2 = ViewData["Location2"] as Location;
	Location loc3 = ViewData["Location3"] as Location;
	Location loc4 = ViewData["Location4"] as Location;
	Location loc5 = ViewData["Location5"] as Location;
	//int count = ViewData["Count"] as int;
	Layout = "~/Views/Shared/_Layout.cshtml";

}
<h2>Discover Locations</h2>

<div class="row">
	<div class="col-md-2">
		<div class="form-group">
			<a asp-action="Confirm" asp-route-locId="@loc1.LocationId" class="btn btn-default">Select</a>
		</div>
	</div>
	<div class="col-md-4">
		<p>
			@loc1.Name
			<br />
			@loc1.Address
			<br />
			@loc1.Rating
			<br />
			@loc1.Description
			<br />
			@loc1.ImageLink
		</p>

		<img src=@loc1.ImageLink />

		<br />
	</div>
</div>

<div class="row">
	<div class="col-md-2">
		<div class="form-group">
			<a asp-action="Confirm" asp-route-locId="@loc2.LocationId" class="btn btn-default">Select</a>
		</div>
	</div>
	<div class="col-md-4">
		<p>
			@loc2.Name
			<br />
			@loc2.Address
			<br />
			@loc2.Rating
			<br />
			@loc2.Description
			<br />
			@loc2.ImageLink
		</p>

		<img src=@loc2.ImageLink />

		<br />
	</div>
</div>

<div class="row">
	<div class="col-md-2">
		<div class="form-group">
			<a asp-action="Confirm" asp-route-locId="@loc3.LocationId" class="btn btn-default">Select</a>
		</div>
	</div>
	<div class="col-md-4">
		<p>
			@loc3.Name
			<br />
			@loc3.Address
			<br />
			@loc3.Rating
			<br />
			@loc3.Description
			<br />
			@loc3.ImageLink
		</p>

		<img src=@loc3.ImageLink />

		<br />
	</div>
</div>

<div class="row">
	<div class="col-md-2">
		<div class="form-group">
			<a asp-action="Confirm" asp-route-locId="@loc4.LocationId" class="btn btn-default">Select</a>
		</div>
	</div>
	<div class="col-md-4">
		<p>
			@loc4.Name
			<br />
			@loc4.Address
			<br />
			@loc4.Rating
			<br />
			@loc4.Description
			<br />
			@loc4.ImageLink
		</p>

		<img src=@loc4.ImageLink />

		<br />
	</div>
</div>

<div class="row">
	<div class="col-md-2">
		<div class="form-group">
			<a asp-action="Confirm" asp-route-locId="@loc5.LocationId" class="btn btn-default">Select</a>
		</div>
	</div>
	<div class="col-md-4">
		<p>
			@loc5.Name
			<br />
			@loc5.Address
			<br />
			@loc5.Rating
			<br />
			@loc5.Description
			<br />
			@loc5.ImageLink
		</p>

		<img src=@loc5.ImageLink />

		<br />
	</div>
</div>
